---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/Contact.astro";
---

<Layout
  title="Portfolio de David Paz치n - Desarrollador y Programador Full-Stack"
  description="Portfolio de David Paz치n, Ingeniero Civil Inform치tico y Desarrollador Full-Stack. Explora mis proyectos y habilidades en programaci칩n."
>
<main>
  <Hero />
  <AboutMe />
  <Technologies />
  <Projects />
  <ContactMe />
</main>


<style>
  @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
</style>
</main>
</Layout>

