---
import "../styles/global.css";
import Header from "../components/Header.vue";
import Contacto from "../components/contacto.vue";
import Footer from "../components/footer.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- HEADER -->
  <Header client:load />

  <!-- MAIN -->
  <main class="container mx-auto p-4 flex-1">
    <Contacto />
  </main>

  <!-- FOOTER -->
  <Footer class="mt-auto client:load" />
</Layout>
