<section
  id="aboutme"
  class="py-20 px-6 bg-white text-gray-800 scroll-mt-20 animate-fade-in-up"
>
  <div class="max-w-4xl mx-auto text-center">
    <div
      class="border-4 border-gray-800 rounded-lg inline-block px-8 py-4 mb-8"
    >
      <h2 class="text-3xl font-bold text-gray-800 uppercase tracking-wide">
        Acerca de mí
      </h2>
    </div>
    <p class="text-lg">
      Soy un apasionado por la tecnología, Tengo experiencia en desarrollo
      Full-Stack, automatización de procesos, procesos ETL y trabajos con APIs.<br />
      Me gusta aprender y enfrentar nuevos desafíos. Actualmente, estoy buscando oportunidades
      para aplicar mis habilidades en proyectos interesantes.
    </p>
  </div>
</section>
