
	<h2 class="text-2xl font-bold mb-4">Educación</h2>
	<p class="text-lg font-bold text-gray-800 dark:text-gray-200">Ingeniero Civil Informático y Telecomunicaciones, Universidad Diego Portales, 2024</p>
	<p class="text-sm text-gray-700 dark:text-gray-300">El enfoque fue tanto en Programación OOP, desarrollo Web y de Software, y por último a la ciencia de datos y las inteligencias artificiales</p>
	<p class="text-lg font-bold text-gray-800 dark:text-gray-200">Cursos independientes de Coursera, Udemy</p>
	<p class="text-sm text-gray-700 dark:text-gray-300">Servicios en la nube, procesamiento de datos, desarrollo fullstack y programación OOP
	</p>
	<p class="text-lg font-bold text-gray-800 dark:text-gray-200">Certificados</p>
	</p>
		<a href="https://www.udemy.com/certificate/UC-fb92a21d-d80a-4bb6-9e01-e5f4f7ea1fa9/" target="_blank" rel="noopener noreferrer">Python for OOP: The A-to-Z OOP Python Programming Course</a>
	</p>
  