---
import "../styles/global.css";
import AboutMe from "../components/Antiguo/AboutMe.vue";
import Layout from "../layouts/Layout.astro";
const DavidPerfil = "images/David1.webp";
const DavidAlt = "images/David2.webp";
---

<Layout>

  <!-- MAIN -->
  <main class="container mx-auto p-4 flex-1">
    <AboutMe client:load originalImage={DavidPerfil} altImage={DavidAlt} />
  </main>

</Layout>
