---
import "../styles/global.css";
import Contacto from "../components/Antiguo/contacto.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  

  <!-- MAIN -->
  <main class="container mx-auto p-4 flex-1">
    <Contacto />
  </main>

</Layout>
