---
import "../styles/global.css";
import Projects from "../components/Antiguo/Projects.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>

  <!-- MAIN -->
  <main class="container mx-auto p-4">
    <section id="Projects" class="section mb-8">
      <Projects client:load />
    </section>
  </main>

</Layout>
