---
import "../styles/global.css";
import Education from "../components/Antiguo/Education.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- MAIN -->
  <main class="container mx-auto p-4">
    <section id="Studies" class="section mb-8">
      <Education />
    </section>
  </main>

</Layout>
