---
import "../styles/global.css";
import Technologies from "../components/Antiguo/Technologies.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>

  
  <!-- MAIN -->
  <main class="container mx-auto p-4">
    <Technologies client:load />
  </main>

</Layout>
